<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.Drawing.BitmapFont" version="2.0.1" targetFramework="monoandroid81" />
  <package id="FontStashSharp.MonoGame" version="0.9.2" targetFramework="monoandroid81" />
  <package id="GameTimer" version="2.2.0" targetFramework="monoandroid90" />
  <package id="MonoGame.Framework.Android" version="3.7.1.189" targetFramework="monoandroid81" />
  <package id="StbImageSharp" version="2.22.5" targetFramework="monoandroid90" />
  <package id="StbTrueTypeSharp" version="1.24.7" targetFramework="monoandroid81" />
</packages>