<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.Drawing.BitmapFont" version="2.0.4" targetFramework="monoandroid11.0" />
  <package id="FontStashSharp.Base" version="1.1.8" targetFramework="monoandroid11.0" />
  <package id="FontStashSharp.MonoGame" version="1.2.8" targetFramework="monoandroid11.0" />
  <package id="FontStashSharp.Rasterizers.StbTrueTypeSharp" version="1.1.8" targetFramework="monoandroid11.0" />
  <package id="GameTimer" version="4.0.0" targetFramework="monoandroid11.0" />
  <package id="MonoGame.Framework.Android" version="3.7.1.189" targetFramework="monoandroid81" />
  <package id="StbImageSharp" version="2.27.13" targetFramework="monoandroid11.0" />
  <package id="StbTrueTypeSharp" version="1.26.11" targetFramework="monoandroid11.0" />
</packages>